.upper-panel-container {
  flex: 0 0 auto;
  width: 100%;
  height: 76px;
  display: flex;
  position: relative;
  align-self: center;
  box-shadow: 0px 0px 8px 4px #d4d4d4;
  align-items: center;
  margin-bottom: 40px;
  justify-content: center;
  background-color: #F0F0F0;
}
.upper-panel-container1 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 1060px;
  bottom: 0px;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: center;
  justify-content: flex-start;
}
.upper-panel-navlink {
  display: contents;
}
.upper-panel-image {
  width: 56px;
  height: 60px;
  object-fit: cover;
  margin-right: 34px;
  text-decoration: none;
}
.upper-panel-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin-right: 20px;
  border-radius: var(--dl-radius-radius-radius8);
}
.upper-panel-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 160px;
  height: 48px;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 40px;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: #F0F0F0;
}
.upper-panel-dropdown-toggle:hover {
  background-color: #DEE2E9;
}
.upper-panel-text {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  font-family: "Inter";
  font-weight: 500;
  margin-right: 12px;
  vertical-align: middle;
}
.upper-panel-image1 {
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.upper-panel-dropdown-list {
  top: var(--dl-space-space-threeunits);
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  box-shadow: 4px 4px 4px 0px #d4d4d4;
  transition: 0.3s;
  align-items: stretch;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  list-style-type: none;
  background-color: #F0F0F0;
  list-style-position: inside;
}
.upper-panel-dropdown1 {
  cursor: pointer;
  width: 348px;
  height: 40px;
  display: inline-block;
  position: relative;
  margin-top: 4px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 4px;
  text-decoration: none;
  background-color: #1A5A9A;
}
.upper-panel-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  height: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.upper-panel-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #447BBA;
}
.upper-panel-text1 {
  color: rgb(255, 255, 255);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  align-self: center;
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
}
.upper-panel-dropdown2 {
  cursor: pointer;
  width: 348px;
  height: 40px;
  display: inline-block;
  position: relative;
  margin-top: 4px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 4px;
  text-decoration: none;
  background-color: #1A5A9A;
}
.upper-panel-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  height: 40px;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.upper-panel-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #447BBA;
}
.upper-panel-text2 {
  color: rgb(255, 255, 255);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
}
.upper-panel-dropdown3 {
  cursor: pointer;
  width: 348px;
  height: 40px;
  display: inline-block;
  position: relative;
  margin-top: 4px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 4px;
  text-decoration: none;
  background-color: #1A5A9A;
}
.upper-panel-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  height: 40px;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.upper-panel-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #447BBA;
}
.upper-panel-text3 {
  color: rgb(255, 255, 255);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
}
.upper-panel-dropdown4 {
  cursor: pointer;
  width: 348px;
  height: 40px;
  display: inline-block;
  position: relative;
  margin-top: 4px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 4px;
  text-decoration: none;
  background-color: #1A5A9A;
}
.upper-panel-dropdown-toggle4 {
  fill: #595959;
  color: #595959;
  width: 100%;
  height: 40px;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.upper-panel-dropdown-toggle4:hover {
  fill: #fff;
  color: #fff;
  background-color: #447BBA;
}
.upper-panel-text4 {
  color: rgb(255, 255, 255);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
}
.upper-panel-dropdown5 {
  cursor: pointer;
  width: 348px;
  height: 40px;
  display: inline-block;
  position: relative;
  margin-top: 4px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 4px;
  text-decoration: none;
  background-color: #1A5A9A;
}
.upper-panel-dropdown-toggle5 {
  fill: #595959;
  color: #595959;
  width: 100%;
  height: 40px;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.upper-panel-dropdown-toggle5:hover {
  fill: #fff;
  color: #fff;
  background-color: #447BBA;
}
.upper-panel-text5 {
  color: rgb(255, 255, 255);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
}
.upper-panel-dropdown6 {
  cursor: pointer;
  width: 348px;
  height: 40px;
  display: inline-block;
  position: relative;
  margin-top: 4px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 4px;
  text-decoration: none;
  background-color: #1A5A9A;
}
.upper-panel-dropdown-toggle6 {
  fill: #595959;
  color: #595959;
  width: 100%;
  height: 40px;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.upper-panel-dropdown-toggle6:hover {
  fill: #fff;
  color: #fff;
  background-color: #447BBA;
}
.upper-panel-text6 {
  color: rgb(255, 255, 255);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
}
.upper-panel-dropdown7 {
  cursor: pointer;
  width: 348px;
  height: 40px;
  display: inline-block;
  position: relative;
  margin-top: 4px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: 4px;
  text-decoration: none;
  background-color: #1A5A9A;
}
.upper-panel-dropdown-toggle7 {
  fill: #595959;
  color: #595959;
  width: 100%;
  height: 40px;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.upper-panel-dropdown-toggle7:hover {
  fill: #fff;
  color: #fff;
  background-color: #447BBA;
}
.upper-panel-text7 {
  color: rgb(255, 255, 255);
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
}
.upper-panel-container2 {
  flex: 0 0 auto;
  width: 430px;
  height: 52px;
  display: flex;
  position: relative;
  align-items: flex-start;
  margin-right: 32px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: #1A5A9A;
}
.upper-panel-textinput {
  width: 90%;
  height: 40px;
  font-size: 16px;
  align-self: center;
  font-family: "Inter";
  margin-left: 8px;
  border-width: 0px;
  margin-right: 8px;
  border-radius: var(--dl-radius-radius-radius8);
}
.upper-panel-button {
  width: 0px;
  height: 24px;
  display: flex;
  padding: 16px;
  position: relative;
  align-self: center;
  padding-top: 12px;
  border-width: 0px;
  margin-right: 8px;
  padding-left: 12px;
  padding-right: 12px;
  flex-direction: row;
  padding-bottom: 12px;
  background-color: #1A5A9A;
}
.upper-panel-image2 {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 24px;
  bottom: 0px;
  height: 24px;
  margin: auto;
  position: absolute;
  align-self: center;
  object-fit: cover;
}
.upper-panel-navlink08 {
  display: contents;
}
.upper-panel-component {
  text-decoration: none;
}
.upper-panel-navlink09 {
  display: contents;
}
.upper-panel-component1 {
  text-decoration: none;
}






